.display-view {
    display: flex;
    flex-direction: column-reverse;
    padding: $mobile-margin;
    flex-wrap: wrap;
}

.thermo-feature {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 50%;
    // background: gold;
    .display-detail {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        img {
            // flex-basis: 20px;
            height: 60px;
            width: auto;
            margin-right: 100px;
            margin-left: 20%;
        }
        p {
          @include h3-class;
          margin-right: 80%;
        }
        &:last-child {
          margin-bottom: 0px;
        }
    }
}

.video {
    position: relative;
    display: flex;
    // align-items: center;
    // justify-content: center;
    flex-basis: 50%;
    background: #232323;
    cursor: pointer;
    align-items: flex-end;
    margin-bottom: 20px;
    video {
      width: 100%;
    }
  }
  
  .video-overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  
    img {
      height: 100px;
      transition: all 0.3s ease;
      opacity: 0.5;
    }
    &:hover {
      img {
        opacity: 1;
      }
    }
    &:active {
      img {
        opacity: 1;
      }
    }
  }

  #video-controls {
    outline: none;
    display: flex;
    position: absolute;
    align-self: flex-end;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    justify-content: space-evenly;
    opacity: 0;
    transition: all 0.3s ease;
    padding-bottom: 10px;
  
    #play-pause,
    #full-screen,
    #mute{
      height: 20px;
    }
  }
  
  .video:hover > #video-controls {
    opacity: 1;
  }

@media screen and (min-width: $tablet-size) {
  .display-view {
      padding: $tablet-margin;
  }
}
  
@media screen and (min-width: $desktop-size) {
    .display-view {
        padding: $desktop-margin;
        flex-direction: row;
    }

    .video {
        margin-bottom: 0;
    }
}