.feature-view {
    display: flex;
    flex-direction: column;
    h3 {
        @include h3-class;
        margin-bottom: 20px;
    }
}

.feature-photo {
    // background: green;
    padding: $mobile-margin;
}

.feature-text {
    display: flex;
    flex-direction: column;
    padding: $mobile-margin;
    // background: skyblue;
    p {
        @include p-class;
    }
}

@media screen and (min-width: $tablet-size)  {

    .feature-view {
        flex-direction: row;
        padding: 0px $tablet-margin;
        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    }

    .feature-photo {
        flex-basis: 50%;
    }
    .feature-text {
        align-items: center;
        flex-basis: 50%;
    }
}

@media screen and (min-width: $desktop-size)  {
    .feature-view {
        padding: 0px $desktop-margin;
    }
}