footer {
    display: flex;
    flex-direction: column;
    // background: skyblue;
    p {
        @include p-class;
        text-align: center;
        margin-bottom: 20px;
        color: $light-blue;
    }
}

.btn-wrap {
    display: flex;
    flex-wrap: wrap;
    padding-top: $mobile-margin;
    .btn-con {
        display: flex;
        flex: 1 1 300px;
        // background: orange;
        a {
            @include p-class;
            @include btn-class;
            margin: 0px $mobile-margin $mobile-margin $mobile-margin;
        }
    }
}

.footer-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    div {
        display: flex;
        justify-content: space-evenly;
        // background: green;
        flex: 1;
        padding: 20px 50px;
        img {
            box-sizing: border-box;
            margin: 10px;
            height: 50px;
        }
    }
}

@media screen and (min-width: $tablet-size) {
    .btn-wrap {
        padding-top: 100px;
        .btn-con {
            a {
                margin: 0px $tablet-margin $tablet-margin $tablet-margin;
            }
        }
    }
}

@media screen and (min-width: $desktop-size) {
    .btn-wrap {
        padding-top: 100px;
        .btn-con {
            a {
                margin: 0px $desktop-margin $desktop-margin $desktop-margin;
            }
        }
    }
}