.home-view {
    display: flex;
    // flex-direction: row;
    // justify-content: flex-start;
    background: pink;
    // background: url("../dist/images/smiley.jpeg") cover;
    align-items: center; 
    flex: 1;
    padding: $mobile-margin;
    

    .hero-desc-btn-con {
        display: flex;
        flex-direction: column;
        // background: skyblue;
        flex-basis: 300px;
        // margin: 200px 0px;
        p {
            @include p-class;
            color: white;
            margin-bottom: 40px;
        }
        a {
            @include btn-class;
            @include p-class;
            color: white;
            margin: 0px;
            text-align: center;
        }
    }
}

@media screen and (min-width: $tablet-size) {
    .home-view{
        padding: $tablet-margin;
    }
}

@media screen and (min-width: $desktop-size) {
    .home-view{
        padding: $desktop-margin;
    }
}