.home-view {
    display: flex;
    // flex-direction: row;
    // justify-content: flex-start;
    // background: pink;
    background: linear-gradient(rgba(102, 104, 107, 0.3), rgba(102, 104, 107, 0.3)), url("../images/hero_1.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center; 
    padding: $mobile-margin;
    height: 100vh;
    

    .hero-desc-btn-con {
        display: flex;
        flex-direction: column;
        // background: skyblue;
        flex-basis: 300px;
        margin-top: 100px;
        p {
            @include p-class;
            color: white;
            margin-bottom: 40px;
            font-size: 1.2em;
        }
        a {
            @include btn-class;
            @include p-class;
            color: white;
            margin: 0px;
            text-align: center;
        }
    }
}

@media screen and (min-width: $tablet-size) {
    .home-view{
        padding: $tablet-margin;
        .hero-desc-btn-con {
            margin-top: 200px;
        }
    }
}

@media screen and (min-width: $desktop-size) {
    .home-view{
        padding: $desktop-margin;
        .hero-desc-btn-con {
            flex-basis: 400px;
        }
    }
}