.home-view {
    display: flex;
    flex-direction: column;
    background: green;
    align-items: center; 
    margin: 0 auto;

    .content-con {
        display: flex;
        flex-direction: column;
        background: skyblue;
        padding: 50px;
        margin-bottom: 50px;

        p {
            margin-top: 10px;
            color: white;
        }
    }
}