<section class="display-view">
    <h1>ThermoSecure Product Display</h1>
    <img class="display-image" src="{{DisplayImg}}" alt="display features">
    <div class="thermoFeature">
        {{!-- thermometer dots adn info --}}
    </div>
    <video autoplay>
        <source src="{{ProductVideo}}" type="video/mp4">
        Sorry, your browser doesn't support embedded videos!
    </video>
</section>