<section class="display-view">
    <h2 class="hidden">Product Display</h2>
    <section class="thermo-feature">
        <h2 class="hidden">Temperature Feature</h2>
        <div class="display-detail">
            <img src="#" alt="icon">
            <p>Info</p>
        </div>
        <div class="display-detail">
            <img src="#" alt="icon">
            <p>Info</p>
        </div>
        <div class="display-detail">
            <img src="#" alt="icon">
            <p>Info</p>
        </div>
        <div class="display-detail">
            <img src="#" alt="icon">
            <p>Info</p>
        </div>
        {{!-- thermometer dots and info --}}
    </section>

    <section class="video">
        <div class="video-overlay">
            <img src="images/play_button.svg" alt="Play Button" />
        </div>
        <video src="{{ProductVideo}}" muted>Sorry, your browser doesn't support embedded videos!</video>
        <!-- video controls -->
        <div id="video-controls">
        {{!-- play/pause button --}}
            <div>
            <img id="play-pause" src="images/play_button.svg"alt="Play svg icon"/>
            </div>
        {{!-- timebar --}}
            <input type="range" id="timeBar" value="0" />
        {{!-- volume --}}
            {{!-- <div>
            <img id="mute" src="images/muted.svg" alt="Mute svg icon" />
            </div>
            <input type="range" id="volumeBar" min="0" max="1" step="0.1" value="0"/>
            <div> --}}
            <img id="fullScreen" src="images/expand.svg" alt="Fullscreen"/>
            </div>
        </div>
    </section>

</section>