<section class="hero-view">
    {{!-- when you click on a button, will take you to dashboard view (/dashboards) and display info dynamically --}}
        <img class="hero-image" src="{{HeroImg}}" alt="hero image">
        <img class="logo" src="{{Logo}}" alt="logo">
        {{!-- main nav --}}
        <img class="hero-product" src="{{ProductImg}}">
        <h1>ThermoSecure by HouseCom</h1>
        <a href="#">SHOP</a>
</section>