<section class="hero-view">
    <h2 class="hidden">Hero Banner</h2>
    <div class="hero-desc-btn-con">
        {{!-- <p>{{ heroText }}</p> --}}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi unde deserunt voluptatem eaque quidem hic eum aspernatur molestiae explicabo magni. Dolore ex incidunt voluptate aspernatur soluta! Adipisci, tenetur ipsam. Impedit!</p>
        <a href="#">SHOP</a>
    </div>
</section>