<section class="hero-view">
    <h2 class="hidden">Hero Banner</h2>
    <div class="hero-product-btn-con">
        <img class="hero-product" src="{{ProductImg}}">
        <a href="#">SHOP</a>
    </div>
</section>