<div class="home-view">
    {{!-- when you click on a button, will take you to users view (/users) and display info dynamically --}}
    <h1>{{ homemessage }}</h1>
    <p class="u-bio">
        {{ bio }}
    </p>
</div>