<section class="home-view">
    <h1>Welcome to HouseCom™ ThermoSecurity™ System</h1>
    <img class="test-image" src="images/smiley.jpeg" alt="smile!">
    {{!-- when you click on a button, will take you to dashboard view (/dashboards) and display info dynamically --}}
    <section class = "content-con">
        <h2>{{ homemessage }}</h2>
        <p class="u-bio">
            {{ bio }}
        </p>
    </section>
</section>