<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<!-- sets site size to equal the device width -->
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- reset before main css (reset, then rewrite) -->
	<link href="css/reset.css" rel="stylesheet" type="text/css">
    <link href="css/main.css" rel="stylesheet" type="text/css">
    
    {{!-- we'll have to make this dynamic to change with the page --}}
    <title>HouseCom™ | ThermoSecurity™ System</title>

</head>
<body>
    <div class="main-con">
        {{!-- handlebars will render its views here --}}
        {{{ body }}}
        {{!-- testing linking to other view files (pages) --}}
        <a href="dashboards">SIGN IN (Go to Dashboard)</a>
        <a href="/">SIGN OUT (Go Back to Sign In)</a>
        <a href="products">GO TO PRODUCTS</a>
    </div>
</body>
</html>