<section class="product-view">
    <h1>This is the Fancy Products Page</h1>
    <img class="test-image" src="images/pooh.jpeg" alt="pooh!">
    <p>These are not dynamic variables, it's just a bunch of text. Easy, simple text is still allowed, right? Right?! All this variable nonsense is crazy!</p>
</section>